{% extends "base.html" %} {% block page_content %}

<link href="{{ url_for('static', filename='jstree/themes/default/style.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='jstree/jstree.min.js' )}}"></script>
<link href="{{ url_for('static', filename='bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' )}}"></script>
<script src="{{ url_for('static', filename='bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' )}}"></script>
<script src="{{ url_for('static', filename='moment.min.js' )}}"></script>
<script src="{{ url_for('static', filename='Chart.min.js' )}}"></script>

<div class="col-md-2" id="jstree"></div>

<div class="col-md-10">
  <div class="row">
    <div class="col-md-4">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="start_time">
        <div class="input-group-addon">-</div>
        <input type="text" class="form-control" id="end_time">
      </div>
    </div>
    <div class="col-md-4">
      <div class="btn-group btn-group-sm" aria-label="...">
        <button type="button" class="btn btn-default" role="group" value="365*24*3600">1年</button>
        <button type="button" class="btn btn-default" role="group" value="31*24*3600">1月</button>
        <button type="button" class="btn btn-default" role="group" value="7*24*3600">1周</button>
        <button type="button" class="btn btn-default" role="group" value="24*3600">1天</button>
        <button type="button" class="active btn btn-default" role="group" value="3*3600">3小时</button>
      </div>
    </div>
  </div>

  <div class="row chart-container">
    <canvas id="myChart"></canvas>
  </div>

</div>

<script>
  $(function () {
    // jstree
    $('#jstree').jstree({
      plugins: ['sort', 'types'],
      types: {
        'default': {
          'icon': 'glyphicon glyphicon-flash'
        }
      },
      core: {
        data: {
          url: '/admin/api/jstree',
          data: function (node) {
            return { 'id': node.id }
          },
          dataFilter: function (data, type) {
            var tmp = JSON.parse(data);
            $.each(tmp, function (i, v) {
              if (v.status == 0) {
                v['state'] = { 'disabled': true };
              }
              delete v.status;
            });

            return JSON.stringify(tmp);
          }
        }
      }
    });

    $('#jstree').on("changed.jstree", function (e, data) {
      console.log(data.selected);
    });

    // 时间处理
    // 获取按钮组默认时间
    function start_and_end_time(dlta) {
      var delta = eval($('.btn-group > .active').val());
      return [moment().format('YYYY-MM-DD HH:mm:ss'), moment().subtract(delta, 'seconds').format('YYYY-MM-DD HH:mm:ss')];
    };

    var end_time = start_and_end_time()[0];
    var start_time = start_and_end_time()[1];

    var host = '115.159.79.192';
    var metric = 'counter-commands_processed';

    // 开始时间初始化
    $('#start_time').datetimepicker({
      autoclose: true,
      language: 'zh-CN',
      format: 'yyyy-mm-dd hh:ii:ss',
      weekStart: 1,
      todayBtn: 'linked',
    }).on('changeDate', function (e) {
      $('#start_time').datetimepicker('setStartDate', e.date);
      start_time = $('#start_time').val();
      end_time = $('#end_time').val();
      call_chart(host, metric, start_time, end_time);
    });

    $('#start_time').prop('value', start_time);

    // 结束时间初始化
    $('#end_time').datetimepicker({
      autoclose: true,
      language: 'zh-CN',
      format: 'yyyy-mm-dd hh:ii:ss',
      weekStart: 1,
      todayBtn: 'linked',
    }).on('changeDate', function (e) {
      $('#end_time').datetimepicker('end_time', e.date);

      // 调用chart函数
      start_time = $('#start_time').val();
      end_time = $('#end_time').val();
      call_chart(host, metric, start_time, end_time);
    });

    $('#end_time').prop('value', end_time);

    call_chart(host, metric, start_time, end_time);

    // 按钮组事件
    $(".btn-group > .btn").click(function () {
      $(".btn-group > .btn").removeClass("active");
      $(this).addClass("active");

      var end_time = start_and_end_time()[0];
      var start_time = start_and_end_time()[1];
      $('#start_time').prop('value', start_time);
      $('#end_time').prop('value', end_time);

      // 调用chart函数
      call_chart(host, metric, start_time, end_time);
    });

    function call_chart(host, metric, start_time, end_time) {

      var start_time = moment(start_time).format('X');
      var end_time = moment(end_time).subtract(60, 'seconds').format('X');

      // chart
      var chartColors = [
        'rgb(54, 162, 235, 0.2)', // blue
        'rgb(75, 192, 192, 0.2)', // green
        'rgb(255, 99, 132, 0.2)', // red
        'rgb(255, 205, 86, 0.2)', // yellow
        'rgb(255, 159, 64, 0.2)', // orange
        'rgb(153, 102, 255, 0.2)', // purple
        'rgb(231,233,237, 0.2)' // grey
      ];

      var unit;
      var resolution;

      var delta = eval(end_time - start_time);

      if (delta <= 3600 * 3) { // 3小时以下
        unit = 'minute';
        resolution = 60 * 5;
      } else if (delta > 3600 * 3 && delta <= 3600 * 24) {  // 3-24小时
        unit = 'hour';
        resolution = 60 * 30;
      } else if (delta > 3600 * 24 && delta <= 3600 * 24 * 7) {  // 1-7天
        unit = 'day';
        resolution = 3600 * 12;
      } else if (delta > 3600 * 24 * 7 && delta <= 3600 * 24 * 31) {  // 7-30天
        unit = 'day';
        resolution = 3600 * 24;
      } else if (delta > 3600 * 24 * 31 && delta <= 3600 * 24 * 180) {  // 30-180天
        unit = 'day';
        resolution = 3600 * 24 * 15;
      } else if (delta > 3600 * 24 * 180) {  // 180天以上
        unit = 'month';
        resolution = 3600 * 24 * 31;
      }

      $.get('http://10.0.70.103:5000/api/performance', { host: host, metric: metric, resolution: resolution, start: start_time, end: end_time }, function (data, status) {
        var ctx = document.getElementById("myChart").getContext("2d");

        var options = {
          responsive: true,
          maintainAspectRatio: false,
          intersect: false,
          elements: {
            point: {
              radius: 0
            }
          },
          title: {
            display: true,
            position: 'left',
            text: '内存'
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: unit,
                displayFormats: { month: 'YYYY/MM', day: 'M/DD', hour: 'HH:mm', minute: 'HH:mm' }
              },
              display: true,
            }],
            yAxes: [{
              stacked: true,
              display: true,
              scaleLabel: { display: true, labelString: 'value' + ' (%)' }
            }]
          }
        };

        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            datasets: [
              {
                label: 'counter-commands_processed',
                backgroundColor: chartColors[0],
                borderColor: chartColors[0],
                borderWidth: 1,
                fill: true,
                data: data
              }
            ]
          },
          options: options
        });

        myChart.canvas.parentNode.style.height = '250px';
        myChart.canvas.parentNode.style.width = '1000px';
      });

    };

  });
</script> {% endblock %}