{% extends "base.html" %} {% block page_content %}

<link href="{{ url_for('static', filename='jstree/themes/default/style.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='jstree/jstree.min.js' )}}"></script>
<link href="{{ url_for('static', filename='bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' )}}"></script>
<script src="{{ url_for('static', filename='bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' )}}"></script>
<script src="{{ url_for('static', filename='moment.min.js' )}}"></script>
<script src="{{ url_for('static', filename='Chart.min.js' )}}"></script>


<div class="col-md-2" id="jstree"></div>
<!-- 导航树 -->
<div class="col-md-10">
  <!-- 时间控制 -->
  <div class="row" id="time_area"></div>
  <!-- 性能图 -->
  <div class="row" id="chart_area"></div>
</div>

<script>
  $(function () {
    // 导航树事件
    var jstree_url = '/admin/api/jstree?group_id=' + {{ id }};
    $('#jstree').jstree({
      plugins: ['sort', 'types'],
      types: { 'default': { 'icon': 'glyphicon glyphicon-flash' } },
      core: {
        data: {
          url: jstree_url, data: function (node) { return { 'id': node.id } },
          /*dataFilter: function (data, type) { // 数据进行渲染 var tmp = JSON.parse(data); return JSON.stringify(tmp)}}*/
        }
      }
    }).on('loaded.jstree', function (e, data) { // // 默认选中根节点
      var inst = data.instance;
      var obj = inst.get_node(e.target.firstChild.firstChild.lastChild);
      inst.select_node(obj);
    }).on("select_node.jstree", function (e, data) { // 节点选中事件
      var host = data.node.id;
      draw_time_area();

      // 获取时间
      var delta = eval($('.btn-group > .active').val());
      var end_time = moment();
      var start_time = moment().subtract(delta, 'seconds');

      // 更新时间选择框
      $('#start_time').prop('value', start_time.format('YYYY-MM-DD HH:mm:ss'));
      $('#end_time').prop('value', end_time.format('YYYY-MM-DD HH:mm:ss'));

      // 调用性能图区域函数
      draw_chart_area(host, delta, start_time, end_time);
    });

    // 时间控制区域
    function draw_time_area() {
      var datetimepicker_html =
        '<div class="col-md-4">' +
        '<div class="input-group input-group-sm">' +
        '<input type="text" class="form-control" id="start_time">' +
        '<div class="input-group-addon">-</div>' +
        '<input type="text" class="form-control" id="end_time">' +
        '</div>';

      var button_html =
        '<div class="col-md-2">' +
        '<button id="submit" class="btn btn-default btn-sm" type="button">确认</button>' +
        '</div>';

      var btn_group_html =
        '<div class="col-md-4">' +
        '<div class="btn-group btn-group-sm" aria-label="...">' +
        '<button type="button" class="btn btn-default" role="group" value="365*24*3600">1年</button>' +
        '<button type="button" class="btn btn-default" role="group" value="31*24*3600">1月</button>' +
        '<button type="button" class="btn btn-default" role="group" value="7*24*3600">1周</button>' +
        '<button type="button" class="btn btn-default" role="group" value="24*3600">1天</button>' +
        '<button type="button" class="active btn btn-default" role="group" value="3*3600">3小时</button>' +
        '</div></div>';

      $('#time_area').empty().append(datetimepicker_html, button_html, btn_group_html);

      // 开始时间事件
      $('#start_time').datetimepicker({ autoclose: true, language: 'zh-CN', format: 'yyyy-mm-dd hh:ii:ss', weekStart: 1, todayBtn: 'linked' })
        .on('changeDate', function (e) {
          // 更新时间框
          $('#start_time').datetimepicker('update');
        });

      // 结束时间事件
      $('#end_time').datetimepicker({ autoclose: true, language: 'zh-CN', format: 'yyyy-mm-dd hh:ii:ss', weekStart: 1, todayBtn: 'linked' })
        .on('changeDate', function (e) {
          // 更新时间框
          $('#end_time').datetimepicker('update');
        });

      // 提交按钮事件
      $("#submit").click(function () {
        // 获取主机
        var jstree = $('#jstree').jstree(true);
        var host = jstree.get_selected()[0];

        // 获取时间
        var start_time = $('#start_time').val();
        var end_time = $('#end_time').val();
        var delta = eval(moment(end_time).format('X') - moment(start_time).format('X'));

        // 调用性能图区域函数
        console.log(host, delta, start_time, end_time);
        draw_chart_area(host, delta, moment(start_time), moment(end_time));
      });

      // 按钮组事件
      $(".btn-group > .btn").click(function () {
        $(".btn-group > .btn").removeClass("active");
        $(this).addClass("active");

        // 获取主机
        var jstree = $('#jstree').jstree(true);
        var host = jstree.get_selected()[0];

        // 获取时间
        var delta = eval($('.btn-group > .active').val());
        var end_time = moment();
        var start_time = moment().subtract(delta, 'seconds');

        // 更新时间选择框
        $('#start_time').prop('value', start_time.format('YYYY-MM-DD HH:mm:ss'));
        $('#end_time').prop('value', end_time.format('YYYY-MM-DD HH:mm:ss'));

        // 调用性能图区域函数
        draw_chart_area(host, delta, start_time, end_time);
      });
    };

    // 性能图区域
    function draw_chart_area(host, delta, start_time, end_time) {
      // 接口
      //var url = 'http://127.0.0.1:5002/admin/api/performance';
      var url = '/admin/api/performance';
      
      // 性能项
      var perf = [
        { id: 'redis_alive', title: 'redis状态(0:dead, 1:master, -1:slave)', yaxis: '', item: ['gauge-redis_alive'] },
        { id: 'sentinel_alive', title: '哨兵状态(0:dead, 1:leader, -1:slave)', yaxis: '', item: ['gauge-sentinel_alive'] },
        { id: 'clients', title: '客户端连接数', yaxis: '', item: ['gauge-connected_clients', 'gauge-blocked_clients'] },
        { id: 'memory', title: '内存使用量', yaxis: 'Byte', item: ['gauge-used_memory', 'gauge-used_memory_rss', 'gauge-maxmemory'] },
        { id: 'fragmentation', title: '内存碎片率', yaxis: '%', item: ['gauge-mem_fragmentation_ratio'] },
        { id: 'memory_ratio', title: '内存使用率', yaxis: '%', item: ['gauge-mem_used_ratio'] },
        { id: 'instantaneous', title: '每秒处理指令数', yaxis: '', item: ['gauge-instantaneous_ops_per_sec'] },
        { id: 'processed', title: '每秒处理命令数', yaxis: '', item: ['counter-total_commands_processed'] },
        { id: 'keys', title: 'keys', yaxis: '', item: ['counter-expired_keys', 'counter-evicted_keys'] },
        { id: 'keyspace', title: 'keyspace', yaxis: '', item: ['derive-keyspace_hits', 'derive-keyspace_misses'] },
        { id: 'db0', title: 'db0', yaxis: '', item: ['gauge-db0_keys', 'gauge-db0_expires'] },
        { id: 'commandstats', title: 'commandstats', yaxis: '', item: ['counter-cmdstat_get_calls', 'counter-cmdstat_set_calls' ] },
      ];

      // 画图
      $('#chart_area').empty();
      for (var i = 0; i < perf.length; i++) {
        $('#chart_area').append('<div class="row chart-container"><canvas id="chart_' + perf[i]['id'] + '"></canvas></div>');

        var color = [
          'rgb(54, 162, 235, 0.1)', // blue
          'rgb(255, 99, 132, 0.1)', // red
          'rgb(255, 205, 86, 0.1)', // yellow
          'rgb(255, 159, 64, 0.1)', // orange
          'rgb(153, 102, 255, 0.1)', // purple
          'rgb(231,233,237, 0.1)', // grey
          'rgb(75, 192, 192, 0.1)', // green
        ];

        var unit, resolution;

        if (delta <= 3600 * 1) { // 1小时以下
            unit = 'minute';
            resolution = 60;
        } else if (delta <= 3600 * 3) { // 3小时以下
            unit = 'minute';
            resolution = 60 * 5;
        } else if (delta > 3600 * 3 && delta <= 3600 * 24) {  // 3-24小时
          unit = 'hour';
          resolution = 60 * 30;
        } else if (delta > 3600 * 24 && delta <= 3600 * 24 * 7) {  // 1-7天
          unit = 'day';
          resolution = 3600 * 12;
        } else if (delta > 3600 * 24 * 7 && delta <= 3600 * 24 * 31) {  // 7-30天
          unit = 'day';
          resolution = 3600 * 24;
        } else if (delta > 3600 * 24 * 31 && delta <= 3600 * 24 * 180) {  // 30-180天
          unit = 'day';
          resolution = 3600 * 24 * 15;
        } else if (delta > 3600 * 24 * 180) {  // 180天以上
          unit = 'month';
          resolution = 3600 * 24 * 31;
        }

        var ctx = $("#chart_" + perf[i]['id']);

        var options = {
          responsive: true,
          maintainAspectRatio: false,
          intersect: false,
          title: { display: true, position: 'top', text: perf[i]['title'] },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: unit,
                displayFormats: { month: 'YYYY/MM', day: 'M/DD', hour: 'HH:mm', minute: 'HH:mm' }
              },
              display: true,
            }],
            yAxes: [{
              stacked: false,
              display: true,
              scaleLabel: {
                display: true,
                labelString: perf[i]['yaxis']
              },
              ticks: {
                beginAtZero: true,
                callback: function (value) {
                  if (value > 1000) {
                    if (value === 0) return '0';
                    var k = 1024; // or 1000
                    var sizes = ['', 'K', 'M', 'G'];
                    var i = Math.floor(Math.log(value) / Math.log(k));
                    return (Math.round(value / Math.pow(k, i))) + ' ' + sizes[i];
                  } else {
                    return Math.round(value);
                  }
                }
              }
            }]
          }
        };

        var datasets = [];
        $.each(perf[i]['item'], function (i, v) {
          var tmp = {};

          tmp['label'] = v.split('-')[1];
          tmp['backgroundColor'] = color[i];
          tmp['borderColor'] = color[i];
          tmp['borderWidth'] = 1;
          tmp['fill'] = true;

          tmp['data'] = [];
          $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            async: false,
            data: { host: host, metric: v, resolution: resolution, start: start_time.format('X'), end: end_time.format('X') },
            success: function (data) {
              tmp['data'] = data;
            }
          });

          datasets.push(tmp);
        });
        var chart = new Chart(ctx, {
          type: 'line',
          options: options,
          data: { datasets: datasets },
        });

        chart.canvas.parentNode.style.height = '250px';
        chart.canvas.parentNode.style.width = '1000px';

      };
    };
  });
</script> {% endblock %}
