{% extends "base.html" %} {% block page_content %}

<link href="{{ url_for('static', filename='jstree/themes/default/style.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='jstree/jstree.min.js' )}}"></script>
<link href="{{ url_for('static', filename='bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='bootstrap-datepicker/js/bootstrap-datepicker.min.js' )}}"></script>
<script src="{{ url_for('static', filename='bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' )}}"></script>
<script src="{{ url_for('static', filename='moment.min.js' )}}"></script>
<script src="{{ url_for('static', filename='Chart.min.js' )}}"></script>

<div class="col-md-2" id="jstree"></div>

<div class="col-md-10">
  <div class="row">
    <div class="col-md-4">
      <div class="input-group input-group-sm input-daterange">
        <input type="text" class="form-control" value="2012-04-05 12:00:00">
        <div class="input-group-addon">-</div>
        <input type="text" class="form-control" value="2012-04-19 12:00:00">
      </div>
    </div>
    <div class="col-md-4">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default" role="group">1年</button>
        <button type="button" class="btn btn-default" role="group">90天</button>
        <button type="button" class="btn btn-default" role="group">30天</button>
        <button type="button" class="btn btn-default" role="group">7天</button>
        <button type="button" class="btn btn-default" role="group">1天</button>
        <button type="button" class="btn btn-default" role="group">6小时</button>
      </div>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-default btn-sm btn-block">确定</button>
    </div>
  </div>

  <div class="row chart-container" style="position: relative; height:40vh; width:60vw">
      <canvas id="myChart"></canvas>
  </div>

</div>

<script>
  // jstree
  $('#jstree').jstree({
    plugins: ['types'],
    types: {
      'default': {
        'icon': "glyphicon glyphicon-tasks"
      },
      'demo': {
        'icon': "glyphicon glyphicon-ok"
      }
    },
    core: {
      'data': [
        {
          "text": "db_01",
          "state": { "opened": true },

          "children": [
            {
              "text": "redis-01(主)",
              "state": { "selected": false },
            },
            {
              "text": "redis-02(从)",
              "state": { "selected": false },
            }
          ]
        },
        {
          "text": "db_02",
          "state": { "opened": true },

          "children": [
            {
              "text": "redis-03(主)",
              "state": { "selected": false },
            },
            {
              "text": "redis-04(从)",
              "state": { "selected": false },
            }
          ]
        }

      ]
    }
  });

  $('#jstree').on("changed.jstree", function (e, data) {
    console.log(data.selected);
  });

  // chart
  var chartColors = [
    'rgb(54, 162, 235, 0.2)', // blue
    'rgb(75, 192, 192, 0.2)', // green
    'rgb(255, 99, 132, 0.2)', // red
    'rgb(255, 205, 86, 0.2)', // yellow
    'rgb(255, 159, 64, 0.2)', // orange
    'rgb(153, 102, 255, 0.2)', // purple
    'rgb(231,233,237, 0.2)' // grey
  ];

  $.get('/admin/api/performance', { host: 'redis-101', datasource: 'used_cpu_user', start: '1503300000', end: '1524100000' }, function (data, status) {
    var ctx = document.getElementById("myChart").getContext("2d");

    var options = {
      responsive: true,
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'month',
            displayFormats: {month: 'YYYY/MM', day: 'M/DD', hour: 'HH:mm', minute: 'HH:mm'}
          },
          display: true,
          /*ticks: {
              major: {
                  fontStyle: 'bold',
                  fontColor: '#FF0000'
              }
          }*/
        }],
        yAxes: [{
          stacked: true,
          display: true,
          scaleLabel: { display: true, labelString: 'value' + ' (%)' }
        }]
      }
    };

    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [
          {
            label: 'used_cpu_user',
            backgroundColor: chartColors[0],
            borderColor: chartColors[0],
            fill: true,
            data: data
          }
        ]
      },
      title: {
            display: true,
            text: '内存'
        },
      options: options
    });
  });
</script> {% endblock %}