<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/custom.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="center">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-default  btn-block" href="/admin/dashboard/1" role="button">性能图 (Gold)</a>
                <a class="btn btn-default  btn-block" href="/admin/dashboard/2" role="button">性能图 (Seed)</a>
                <a class="btn btn-default  btn-block" href="/admin/dashboard/3" role="button">性能图 (UA)</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-default btn-block" href="http://127.0.0.1:5000" role="button">调度管理</a>
            </div>
        </div>
    </div>
</body>

</html>